.header {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

.text-muted {
  font-size: 20px;
}

p:first-of-type {
  color: #a41b48ff;
  font-size: 1.5rem;
}

img {
  transition: all 1s;
}

img:hover {
  transform: scale(1.1);
}

.container-form {
  padding: 20px;
  background-color: #f1f1f1;
}

input[type="text"],
input[type="submit"] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

input[type="checkbox"] {
  margin-top: 16px;
}

input[type="submit"] {
  background-color: #a41b48ff;
  color: #004797ff;
  border: none;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

.subscribe-form {
  margin-top: 50px;
}

.table td,
.table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #a41b48ff;
  color: #004797ff;
}

table {
  margin-top: 20px;
  border: 5px solid black;
}
